#side-effects {
    h2,p {
        margin-bottom: 40px;
    }
    ul {
        margin-bottom: 10px;
        ul {
            margin-top: 15px;
        }
    }
    .group {
        display: flex;
        @include respond(tab-land) {
            flex-direction: column;
        }
        .image-wrapper {
            width: 50%;
            margin: 30px;
            @include respond(tab-land) {
                margin: 0 auto;
                width: auto;
            }
            img {
                @include round-corners;
                border: 3px solid $primary-color;
                width: 380px;
                height: 380px;
                object-fit: cover;
                @include respond(tab-port) {
                    width: 250px;
                    height: 250px;
                }
            }
        }
        }
    .icon-link {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        h3 {
            color: $secondary-color-4;
            padding-left: 15px;
        }
    }
}