#support {
    h2 {
        margin-bottom: 15px;
    }
    h3 {
        margin-bottom: 40px;
    }
    p {
        &:last-of-type {
            margin-bottom: 40px;
        }
        &.label {
            margin-bottom: 15px;
        }
    }
    .group {
        display: flex;
        justify-content: center;
        margin: 15px 0;
        .col {
            padding: 0 15px;
        }
        .image-wrapper {
            width: 40%;
            img {
                width: 100%;
            }
        }
        @include respond(tab-land) {
            flex-direction: column;
            align-items: center;
            .image-wrapper {
                width: 100%;
            }
        }
    }
}
#questions {
    h2 {
        margin-bottom: 40px;
        margin-top: 10px;
    }
    p {
        margin-bottom: 25px;
    }
    .bullet-box {
        display: flex;
        justify-content: center;
        @include round-corners;
        border: 2px solid $secondary-color-3;
        padding: 20px 30px;
        margin-bottom: 40px;
        @include respond(tab-land) {
            flex-direction: column;
        }

        li {
            margin-bottom: 15px;
        }

        .icon-wrapper {
            align-self: center;
            text-align: center;
            width: 20%;
            padding: 30px;
            img {
                width: 100%;
            }
            @include respond(tab-land) {
                order: -1;
            }
            @include respond(big-desktop) {
                width: 15%;
            }
        }
    }
}
#coping {
    h2 {
        margin-bottom: 15px;
    }
    h3 {
        margin-bottom: 25px;
        &.label {
            margin-bottom: 0px;
        }
    }
    p,ul {
        margin-bottom: 40px;
    }
    ul {
        li {
            line-height: 3rem;
            &:before {
                content: '✓';
                color: $secondary-color-3;
            }
        }
    }
    .group {
        display: flex;
        margin-bottom: 40px;
        @include respond(tab-land) {
            flex-direction: column;
            align-items: center;
        }
        .image-wrapper {
            position: relative;
            img {
                width: 100%;
                @include respond(tab-land) {
                    width: 70%;
                }
            }
            @include respond(tab-land) {
                text-align: center;
                margin-bottom: 25px;
            }
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                @include overlay-gradient;
                @include respond(tab-land) {
                    display: none;
                }
            }
        }
        .col {
            width: 70%;
            p {
                padding-left: 20px;
                line-height: 2.5rem;
                @include respond(tab-land) {
                    padding: 0;
                }
            }
        }
    }
}
.jumbo-box {
    @include jumbo-gradient;
    @include round-corners;
    padding: 30px 40px;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
    @include respond(tab-land) {
        text-align: left;
    }
}