   <IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On
    # Don't rewrite files or directories
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Rewrite everything else to index.html to allow html5 state links
    RewriteRule ^ index.html [L]
    RewriteCond %{QUERY_STRING} ^$
RewriteRule ^PI$ /uploads/PI-BELEODAQ-200120.pdf? [NC,L]
RewriteRule ^PI/$ /uploads/PI-BELEODAQ-200120.pdf? [NC,L]
</IfModule>