footer {
    width: 100%;
    position: fixed;
    background: #fff;
    margin: 0;
    bottom: 0px;
    left: 0px;
	/* WEIRD COLOR? */
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,.3);
    z-index: 2;

    section {
        padding: 15px 80px;
        @include respond(tab-land) {
            padding: 15px 20px;
        }
        h5 {
            color: $primary-color;
            font-size: 1.4rem;
        }
        .group {
            &:first-child {
                margin-top: 0;
            }
            margin: 15px 0;
            p {
                margin: 0;
            }
        }
        p {
            margin: 15px 0;
        }
        p, li {
            font-weight: 300;
            color: #000;
            line-height: 1.7rem;
        }
        ul {
            li {
            font-size: 1.4rem;
            padding-left: 1em;
                &::before {
                    // https://www.w3schools.com/howto/howto_css_bullet_color.asp
                    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
                    color: $primary-color-3; /* Change the color */
                    font-weight: bold; /* If you want it to be bold */
                    display: inline-block; /* Needed to add space between the bullet and the text */
                    // width: 1em; /* Also needed for space (tweak if needed) */
                    text-indent: -1em;

                }
                ul li {
                    margin-left: 10px;
                    &::before {
                        content: "–";
                        margin-left: 5px;
                    }
                }
            }
        }
        ol {
            counter-reset: item;

            li {
                display: inline;
                list-style-type: none;
                counter-increment: item;
                font-size: 1.4rem;
                &:before {
                    font-weight: 600;
                    content: counter(item) ". ";
                }
            }
        }

    }
    .isi {
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        .isi-header {
            color: $tertiary-color;
        }
        .isi-button {
            color: $tertiary-color;
            font-size: 1.4rem;
        }
    }
    .bottom {
        border-top: 2px solid #166176;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .bottom_col:first-of-type {
            text-align: right;
            @include respond(tab-land) {
                text-align: left;
            }
        }
        @include respond(tab-land) {
            flex-direction: column;
            align-items: flex-start;
        }
        img {
            width: 228px;
        }
        a {
            display: block;
            font-size: 1.4rem;
            font-weight: 300;
            color: #000;
            padding: 5px;
            margin-top: 10px;
        }
    }
}