// Next Button
.next-btn {
    background-color: $secondary-color-3;
    color: #fff;

    width: 700px;
    @include respond(tab-land) {
        width: auto;
    }
    font-size: 2.1rem;
    padding: 12px 24px;
    margin: 0 auto;

    display: flex;
    justify-content: center;

    i {
        padding: 0 15px;
    }
}
.tabs {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0;
    @include respond(tab-land) {
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
    }
    &.bigger {
        .tab {
            height: 85px;
            @include respond(tab-land) {
                height: 30px;
            }
            @include respond(big-desktop) {
                height: 30px;
            }
        }
    }
    .tab {
        font-size: 1.8rem;
        font-weight: 600;
        
        color: $secondary-color-3;
        border: 1px solid $secondary-color-3;
        opacity: .5;

        width: 100%;
        height: 30px;

        text-align: center;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        &.active {
            border: 2px solid $secondary-color-3;
            opacity: 1;
            background-color: $secondary-color-5;
        }
    }
}

.grad-box {
    @include box-gradient;
    padding: 15px 20px;
    margin: 30px -15px;
    h5 {
        color: $gray-color;
    }
    p {
        color: $gray-color-2;
        padding-top: 15px;
        padding-bottom: 30px;
    }
    a {
        color: $secondary-color;
        font-style: italic;
        text-decoration: underline;
        font-size: 2.1rem;

        padding-bottom: 15px;
    }
}
.accordian-btn {
    background: none;
    border-left: none;
    border-right: none;
    border-top: 1px solid $tertiary-color;
    border-bottom: 1px solid $tertiary-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    i {
        color: $tertiary-color;
        padding-right: 20px;
    }
}