html {
    font-size: 62.5%;
  }
body {
    font-family: 'Open Sans', sans-serif;
}
main {
    margin-top: 340px;
    min-height: 75vh;
    padding: 10px 80px;
}
a {
    text-decoration: none;
}
.hidden {
    display: none;
}
.primary {
    color: $primary-color
}
.secondary {
    color: $secondary-color;
}