html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
body {
    font-family: 'Open Sans', sans-serif;
}
main {
    margin-top: 180px;
    min-height: 75vh;
    padding: 40px 80px;
    @include respond(tab-land) {
        padding: 30px;
        margin-top: 180px;
    }
    @include respond(phone) {
        margin-top: 120px;
    }
    &.push {
        margin-top: 220px;
        @include respond(tab-land) {
            margin-top: 480px;
        }
        @include respond(phone) {
            margin-top: 600px;
        }
    }
}
a {
    text-decoration: none;
}
.hidden {
    display: none !important;
}
.primary {
    color: $primary-color
}
.secondary {
    color: $secondary-color;
}
.secondary-3 {
    color: $secondary-color-3;
}