html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
body {
    font-family: 'Open Sans', sans-serif;
}
main {
    margin-top: 270px;
    min-height: 75vh;
    padding: 30px 80px;
    @include respond(tab-land) {
        padding: 30px 20px;
    }
}
a {
    text-decoration: none;
}
.hidden {
    display: none;
}
.primary {
    color: $primary-color
}
.secondary {
    color: $secondary-color;
}