// COLORS
$primary-color: #430298;
$primary-color-2: #CAAEE0;

$secondary-color: #0E404F;
$secondary-color-2: #156176;
$secondary-color-3: #166176;
$secondary-color-4: #1D819E;
$secondary-color-5: #ABC7CF;

$tertiary-color: #FF5C29;
$tertiary-color-2: #FA5C29;

$gray-color: #4D4D4D;
$gray-color-2: #4D4D4F;

$black-color: #000000;

// FONT SIZE
